* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e5f74;
}

.container {
  width: 400px;
  height: auto;
  border-radius: 5px;
  background-color: #1d2d50;
  padding: 2px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

input {
  width: 100%;
  text-align: end;
  border-radius: 5px 5px 0 0;
  padding: 30px 20px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #1d2d50;
  color: #f5f5f5;
  outline: none;
}

input::selection {
  background-color: #1d2d50;
}

#clear {
  grid-column: 1/3;
  color: #ff6363;
  background-color: #2a4e6c;
}

#del {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6363;
  background-color: #2a4e6c;
}

#equals {
  grid-column: 3/5;
}

button {
  padding: 25px 0;
  border: none;
  background-color: #133b5c;
  color: #f5f5f5;
  margin: 2px;
  font-size: 1.3rem;
  outline: none;
  transform: scale(1);
}

button::selection {
  user-select: none;
}

#divide,
#multiply,
#add,
#less,
#equals {
  background-color: #2a4e6c;
}

@media (max-width: 450px) {
  .App {
    background-color: #1d2d50;
  }
  button {
    margin: 5px;
    font-size: 1rem;
    padding: 20px 10px;
  }
}
